
CONFIG_FREERTOS_HZ=1000
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
CONFIG_ESPTOOLPY_AFTER_NORESET=y

CONFIG_ESPTOOLPY_FLASHSIZE_2MB=n
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=n
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=n
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHSIZE_32MB=n
CONFIG_ESPTOOLPY_FLASHSIZE_64MB=n
CONFIG_ESPTOOLPY_FLASHSIZE_128MB=n

CONFIG_ESPTOOLPY_FLASHMODE_OPI=n
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHMODE_QOUT=n
CONFIG_ESPTOOLPY_FLASHMODE_DIO=n
CONFIG_ESPTOOLPY_FLASHMODE_DOUT=n

CONFIG_ESPTOOLPY_FLASHFREQ_15M=n
CONFIG_ESPTOOLPY_FLASHFREQ_16M=n
CONFIG_ESPTOOLPY_FLASHFREQ_20M=n
CONFIG_ESPTOOLPY_FLASHFREQ_24M=n
CONFIG_ESPTOOLPY_FLASHFREQ_26M=n
CONFIG_ESPTOOLPY_FLASHFREQ_30M=n
CONFIG_ESPTOOLPY_FLASHFREQ_32M=n
CONFIG_ESPTOOLPY_FLASHFREQ_40M=n
CONFIG_ESPTOOLPY_FLASHFREQ_48M=n
CONFIG_ESPTOOLPY_FLASHFREQ_60M=n
CONFIG_ESPTOOLPY_FLASHFREQ_64M=n
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHFREQ_120M=n

CONFIG_SPIRAM_SPEED_20M=n
CONFIG_SPIRAM_SPEED_26M=n
CONFIG_SPIRAM_SPEED_40M=n
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_SPEED_120M=n

CONFIG_SPIRAM_IGNORE_NOTFOUND=n
CONFIG_SPIRAM_RODATA=y
CONFIG_SPIRAM_FETCH_INSTRUCTIONS=y

CONFIG_COMPILER_OPTIMIZATION_SIZE=n
CONFIG_COMPILER_OPTIMIZATION_PERF=y
CONFIG_COMPILER_OPTIMIZATION_CHECKS_SILENT=y

CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="boards/LilyGo-TDeck/partitions.csv"

CONFIG_LWIP_LOCAL_HOSTNAME="LilyGo-TDeck"

CONFIG_TINYUSB_DESC_USE_ESPRESSIF_VID=n
CONFIG_TINYUSB_DESC_USE_DEFAULT_PID=n
CONFIG_TINYUSB_DESC_CUSTOM_VID=0x2341
CONFIG_TINYUSB_DESC_CUSTOM_PID=0x056B
CONFIG_TINYUSB_DESC_MANUFACTURER_STRING="LilyGo"
CONFIG_TINYUSB_DESC_PRODUCT_STRING="TDeck"
